.booking-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0;
}

.booking-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 2%;
  background-color: rgb(103, 176, 250);
  padding: 10px;
}

ul {
  padding-left: 0;
}

span{
  /* padding-left: 10%; */
}

.delete {
  margin-left: 10%;
  background-color: red;
  border: none;
  padding: 0 6px;
  color: #fff;
  border-radius: 4px;
}

.btn-delete {
  margin-left: 2%;
  background-color: red;
  border: none;
  padding: 0 6px;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 6%;
}
