ul {
  display: flex;
  justify-content: space-between;
  font-family: 'Dancing Script', cursive;
  color: #fff;
  font-size: 22px;
  list-style-type: none;
  margin: 2% 2%;
}

li {
  margin: 0 2%;
}

.push-right {
  margin-left: auto;
}

.links {
  color: #fff;
  text-decoration: none;
}

.btn-user {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.links:hover {
  color: black; 
  cursor: pointer;
}

.border {
  border: 1px solid #fff;
  padding: 0 15px;
}
